* 
{
    margin: 0 auto;
}
.logo
{
    float: left;
    padding-left: 8px;
    padding-top: 8px;
    width: 92px;
}
nav
{
    background-color: #17AEBF;
    height: 55px;
    margin-bottom: 5px;
}

a
{
    color: #fff;
    text-decoration: none;
    position: center;
}

ul
{
    text-decoration: none;
    list-style: none;
}

.banner
{
    float: center;
}


.nav-list
{
    list-style: none;
    display: flex;
}

.nav-list li
{
    letter-spacing: 6px;
    margin-left: 32px;
    padding-top: 18px;
}


footer
{
    background-color: #17AEBF;
    height: 55px;
    padding-top: 5px;
    margin-top: 6px;
}


button
{
    float: left;
    margin-top: -44px;
    margin-left: 8px;
}